body {
    background-color: #ebebeb;
    font-family: 'Montserrat', sans-serif;
}

.form-container {
    position: relative;
    overflow: hidden;
    max-width: 500px;
    margin: 20px auto;
    padding: 5px;
    background-color: #f3f3f3;
    border: 1px solid #333;
    border-radius: 10px;
}

.form-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    margin-top: 10px;
}

.form-label {
    font-size: 16px;
    text-align: center;
    color: #333;
    margin-bottom: 13px;
    margin-top: 10px;
}

.button-registrar {
    width: 60%;
    border-radius: 18px;
    border: 1px solid transparent;
    background-color: #333;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 30px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    margin-bottom: 10px;
}




.button-registrar:active {
    transform: scale(0.95);
}

.button-registrar:focus {
    outline: none;
}

.button-registrar:hover {
    background-color: rgb(241, 241, 241);
    color: #333;
    border: 1px solid #333;
    border-radius: 22px;
    transition: 0.8s;
}

   .botones-inicios{
    text-align: center;
    padding-bottom: 22px;
   }
   .signinButton{
    background-color: #FFFFFF;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 194, 194);
    border-image: initial;
    border-radius: 50%;
    margin: 0px 15px;
   }
.icono{
    color: #333;
   font-size: 20px;
   text-decoration: none;
}
.signinButton:hover {
	transition: 0,8s;
	background-color: rgb(212, 212, 212);
    
	
}
.signinButton:active{
    transform: scale(0.95);
}
.anonimo{
margin-left: 28px;
}
.inputBox {
    display: flex;
 flex-direction: column;
 align-items: center;

}
.input-field {
    background-color: #d6d6d6;
	border: none;
	outline: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 75%;
    border-radius: 10px;
   }
   .input-field:focus{
	background-color:#e0e0e0;
	border-radius: 7px;
	transition: 0,4s;
}
   

   
   .div-center {
    text-align: center;
   }