body {
    background-color: #f3f3f3;
    font-family: 'Montserrat', sans-serif;
   }
   
   .form-container {
    position: relative;
	overflow: hidden;
    max-width: 735px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #333;
			    
    border-radius: 10px;
   }
   
   .form-title{
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
    margin-top: 20px;
   }
   .form-label{
    font-size: 20px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    margin-top: 25px;
   }

   
   .button-registrar {
    width: 70%;
	border-radius: 20px;
	border: 1px solid transparent;
	background-color: #333;
	color: #FFFFFF;
	font-size: 14px;
	
	padding: 12px 45px;
	letter-spacing: 1px;
	
	transition: transform 80ms ease-in;
    margin-bottom: 20px;
	
}

.button-registar:active {
	transform: scale(0,50);
}

.button-registar:focus {
	outline: none;
}
.button-registrar:hover {
    background-color: rgb(241, 241, 241);
    color: #333;
	border: 1px solid #333;
	border-radius: 24px;
	transition: 0.5s;
}

   .botones-inicios{
    text-align: center;
    padding-bottom: 33px;
   }
   .signinButton{
    
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 50%;
    margin: 0px 15px;
   }
.icono{
    color: #333;
   font-size: 24px;
   text-decoration: none;
}
.signinButton:hover {
	transition: 0,8s;
	background-color: #9fa1a396;
    
	
}
.signinButton:active{
    transform: scale(0.95);
}
.anonimo{
margin-left: 28px;
}
.inputBox {
    display: flex;
 flex-direction: column;
 align-items: center;

}
.input-field {
    background-color: #eeeeee;
	border: none;
	outline: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 75%;
   }
   .input-field:focus{
	background-color:#e0e0e0;
	border-radius: 7px;
	transition: 0,4s;
}
   
  
   
   .Line-separator {
   
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
   }
   
   .div-center {
    text-align: center;
   }