@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	background: #f1f1f19f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}
.titulo , .tituloDos {
	text-align: center;
	font-weight: 600;
	font-size: 60px;
	margin-bottom: 15px;
	color: #5eaff1;
}
.tituloDos{
	color: #f36aa8;
}
.eslogan {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 35px;
}