@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  font-family: 'Montserrat', sans-serif;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	
}
.titulo , .tituloDos {
  margin-top: 30px;
	text-align: center;
	font-weight: 400;
	font-size: 56px;
	margin-bottom: 5px;
	color: #333;
}
.tituloDos{
	color: #5f5f5f;
}
.eslogan {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}