@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  font-family: 'Montserrat', sans-serif;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}
.titulo , .tituloDos {
  margin-top: 15px;
	text-align: center;
	font-weight: 400;
	font-size: 64px;
	margin-bottom: 15px;
	color: #5eaff1;
}
.tituloDos{
	color: #f36aa8;
}
.eslogan {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 35px;
}